body {
    font-family: Arial, serif;
    font-size: 13px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.row {
    margin: 0 0 15px 0;
}

.title {
    color: #146731;
    margin: 0 0 15px 0;
    padding: 10px 0;
    border-bottom: 1px solid #d0d0d0;
}

.row-title {
    font-size: 13px;
    display: inline-block;
    line-height: 25px;
}

select {
    width: 200px;
    border: 1px solid #d0d0d0;
    font-size: 13px;
    line-height: 25px;
    background: #fff;
    height: 25px;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: all 0.2s;
    cursor: pointer;
}

select:focus {
    border: 1px solid #146731;
}

select:hover {
    border: 1px solid #989898;
}

#save {
    background: #146731;
    border: none;
    color: #fff;
    line-height: 25px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s;
    outline: none;
    float: left;
}

#save:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

#status {
    display: none;
    float: left;
    margin-left: 12px;
    position: relative;
    line-height: 25px;
    height: 25px;
    background: #fff;
    padding: 0 5px;
    color: #146731;
}

.clear {
    clear: both;
}